style.css
/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid red;
}
.btn-block {
    padding: 10px;
    background-color: grey;
}
button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: yellow;
    border: none;
    transition: 0.3s all;
}
.blue {
    background-color: blue;
}

.red {
    background-color: red;
}
.box1 {
    box-sizing: border-box;
    width: 400px;
    height: 350px;
    overflow: scroll;
    margin: 50px auto 0;
    padding: 10px;
}
button {
    width: 100px;
    height: 40px;
    display: block;
    margin: 20px auto 0;
}

